extends includes/header.pug

block main
    .ui.main.text.container.segment
        .ui.huge.header Successful Message Submission!    
        br
        a(href="/") Send Another Message!
            