body {
    background: #9D50BB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6E48AA, #9D50BB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container.main {
    margin-top: 4.0em;
}

div.hidden {
    display: none;
}

.ui.main.text.container.segment.hidden {
    display: none;
}

.ui.huge.header ul {
    color: red;
}